<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.rosehulman.android.directory.beta"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />
    
    <instrumentation android:name="android.test.InstrumentationTestRunner"
                     android:targetPackage="edu.rosehulman.android.directory" />
	<instrumentation android:name="edu.rosehulman.android.directory.beta.CustomInstrumentationTestRunner"
		             android:targetPackage="edu.rosehulman.android.directory"
	    	         android:label="directory instrumentation test runner" />


    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".BetaManagerActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="edu.rosehulman.android.directory.beta.SHOW_BETA_MANAGER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".StartupActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="edu.rosehulman.android.directory.beta.SHOW_STARTUP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		<uses-library android:name="android.test.runner" />
    </application>
    
</manifest>